%nav.navbar.navbar-default
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{                                         |
        'data-target' => '#bs-example-navbar-collapse-1',                      |
        'data-toggle' => 'collapse'                                            |
        , :type => 'button'}                                                   |
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => root_path} MyFLiX
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      - if current_user
        %ul.nav.navbar-nav
          %li
            %a{:href => '#'} Videos
          %li
            = link_to 'My Queue', my_queue_path
          %li
            %a{:href => '#'} People
        = form_tag search_videos_path, method: 'get',
                                       class: 'navbar-form navbar-left' do
          = text_field_tag :search_term, params[:search_term] || '',
                           class: 'form-control',
                           placeholder: 'Seach video by title'
          = submit_tag 'Search', name: nil, class: 'btn btn-default'
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            %a.dropdown-toggle{'aria-expanded' => 'false',                     |
                               'data-toggle' => 'dropdown',                    |
                               :href => '#',                                   |
                               :role => 'button'}                              |
              Welcome, #{current_user.full_name}
              %span.caret
            %ul.dropdown-menu{:role => 'menu'}
              %li
                %a{:href => '#'} Account
              %li
                %a{:href => '#'} Plan and Billing
              %li.divider
              %li
                %a{:href => sign_out_path} Sign Out
      / /.navbar-collapse
    / /.container-fluid
